@import url("http://fonts.cdnfonts.com/css/poppins");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #fff 50.1%, #cfe1ee 100%), linear-gradient(180deg, #fff 0%, #738ba8 100%);
}

body * {
  font-family: "Poppins", sans-serif !important;
}
