.reports-container.MuiBox-root {
  height: 90vh;
  width: 100vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reports-title.MuiTypography-root {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: #485e77;
  margin: auto;
  width: 80%;
}

.reports-cards.MuiBox-root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25rem;
}

.animal-delete.MuiBox-root {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.animal-card-container.MuiBox-root {
  position: relative;
}

.animal-location.MuiBox-root {
  margin-bottom: 0.5rem;
}

.reports-title.MuiTypography-root {
  margin-bottom: 1rem;
}